/* src/styles/global.css */

:root {
  --header-height: 72px;
}

/* 控制滚动条样式 */
/* Firefox */
* {
  scrollbar-color: rgba(255, 255, 255, 0.28) transparent;
  scrollbar-width: thin;
}

/* WebKit (Chrome / Edge / Safari) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.22);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.42);
}

/* 内容区container，保证与导航栏对齐 */
.page-container {
  box-sizing: border-box; /* 宽度包含padding，保证宽不被撑大*/
  width: 100%;
  max-width: 1400px; /* 必须与导航栏一致 */
  padding: 0 40px;
  margin: 0 auto;
}
