.notfound-container[data-v-de527705]{height:90vh;margin-top:200px;font-family:"Noto Serif SC",serif;font-size:5rem;color:#fff;text-align:center}p[data-v-de527705]{font-size:1.5rem;color:#fff;text-align:center}
