.notfound-container[data-v-dfb95456]{height:90vh;margin-top:200px;margin-bottom:1000vh;font-family:"Noto Serif SC",serif;font-size:5rem;color:#fff;text-align:center}p[data-v-dfb95456]{font-size:1.5rem;color:#fff;text-align:center}
