.special-note-box[data-v-33b55478]{margin-top:200px;font-size:.85rem;font-style:italic;color:#666;text-align:right;border-top:1px dashed rgb(255 255 255 / 10%)}.note-symbol[data-v-33b55478]{margin-right:5px;color:#d4af37}
